extends layout

block content
    h1= title
    p Register #{title}

    form(id='register')
        div(
        class='form-group'
        )
            label(for='email') Mail
            input(
                type='email'
                name='email'
                id='email'
            )

        div(class='form-group')
            label(for='name') Name
            input(
                type='text'
                name='name'
                id='name'
            )

        div(class='form-group')
            label(for='password') Password
            input(
                type='password'
                name='password'
                id='password'
            )

        button(type='submit' class="btn btn-primary") Register
